aiofiles==0.8.0
anyio==3.5.0
asgiref==3.5.0
click==8.0.4
fastapi==0.75.0
Flask==2.0.3
h11==0.13.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
Pillow==9.0.1
pyaes==1.6.1
pyasn1==0.4.8
pydantic==1.9.0
PyYAML==6.0
pyzbar==0.1.9
qrcode==7.3.1
rsa==4.8
sniffio==1.2.0
starlette==0.17.1
Telethon==1.24.0
typing_extensions==4.1.1
uvicorn==0.17.6
Werkzeug==2.0.3
